@media only screen and (min-width: 1000px) {

.desktop {
    display: block;
}

.mobile {
    display: none;
}

header {
    width: 100%;
    justify-content: center;
}

.header-main {
    width: 76%;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.header-left {
    min-width: 260px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo {
  margin-right: 0%;
  width: 145px;
}

.header-geo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-geo-image>path {
    fill: var(--c-yellow);
}

.header-geo-city {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin-right: 5px;
    margin-left: 10px;
}

.header-geo-city-menu {
    position: absolute;
    top: 25px;
    left: 0;
    width: 190px;
    height: 224px;
    background-color: var(--c-white);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
}

.header-geo-city-menu-item {
    width: 160px;
    height: 32px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right {
    height: 100%;
    min-width: 475px;
    width: 42%;
}

.header-right-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-call {
    display: flex;
    flex-direction: row;
     justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-call-number {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: var(--c-yellow); 
}

.header-kontakts-container {
    height: 100%;
    display: flex;
    min-width: 170px;
}

.header-kontakts-container-text {
    height: 100%;
    padding: 0 10% 0 10%;
    border-right: 1px solid var(--c-line);
    border-left: 1px solid var(--c-line);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-kontakts-container-img {
    height: 100%;
    min-width: 30px;
    padding: 0 10% 0 10%;
    border-right: 1px solid var(--c-line);
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    height: 450px;
}

.footer-container {
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    min-width: 980px;
}

.footer-block-first {
    order: 1;
    margin-top: 40px;
    width: 242px;
    font-size: 11px;
    line-height: 15px;
}

.footer-logo {
    margin-top: 0;
    margin-left: 0;
}

.footer-block-second {
    order: 2;
    margin-top: 40px;
    margin-left: 3%;
    width: 320px;
    font-size: 15px;
    line-height: 26px;
}

.footer-block-second-title, 
.footer-block-third-title,
.footer-block-fourth-title {
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-block-second-text:nth-of-type(2) {
    letter-spacing: -0.3px;
}

.footer-block-second-text:nth-of-type(3) {
    letter-spacing: -0.4px;
}

.footer-block-second-text:nth-of-type(6) {
    letter-spacing: -0.8px;
}

.footer-block-third {
    order: 3;
    width: 230px;
    margin-top: 40px;
    margin-left: 2%;
    font-size: 15px;
    line-height: 26px;
}

.footer-block-fourth {
    order: 4;
    width: 240px;
    margin-top: 40px;
    margin-left: 2%;
    font-size: 15px;
    line-height: 23px;
}

.footer-block-payment {
    margin-top: 25px;
    font-size: 11px;
    line-height: 15px;
    margin-left: 0;
    width: 100%;
}

.footer-block-payment-icons {
    margin-top: 25px;
    margin-left: 0;
    width: 100%;
}

.footer-block-fourth-net {
    width: 240px;
}

}
