@media only screen and (min-width: 1000px) {

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.home-front-selects {
    width: 61%;
    height: 60px;
    margin-left: -1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-front-selects-items {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid var(--c-line);
}

.home-front-selects-items:last-child {
    border-right: none;
}

.left {
    justify-content: flex-start;
    margin-left: 20px;
}

.middle {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.home-front-selects-items-img {
    width: 30px;
    height: 25px;
}

.home-front-selects-items-item {
    margin-left: 4%;
    width: 75%;
    height: 22px;
    background-color: var(--c-lightGrey);
    border: 1px solid var(--c-lightGrey);
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    overflow: hidden;
}

.home-front-selects-items-menu {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 370px;
    height: 245px;
    background-color: var(--c-yellow);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 15px 20px 15px;
}

.home-front-selects-items-menu-item {
    width: 340px;
    height: 36px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*------------------*/

.pagesecond-front {
}

.pagesecond-front-main {
    align-items: flex-start;
    width: 61%;
}

.pagesecond-front-main-title {
    width: 100%;
    max-width: 770px;
    margin-top: 60px;
    font-weight: 800;
}

.pagesecond-front-main-title>h1 {
    font-size: 38px;
    line-height: 52px;
    margin: 0 0 0 0;
}

.pagesecond-front-main-title>h2 {
    font-size: 24px;
    line-height: 33px;
}

.pagesecond-front-main-container {
    width: 100%;
    flex-direction: row;
}

.pagesecond-front-main-foto {
    width: 66%;
    height: 435px;
    background-image: url(../image/pagesecond/video1.png);
}

.pagesecond-front-main-items {
    display: flex;
    flex-direction: column;
    margin-left: 2.6%;
    width: 31.4%;
    height: 435px;
    margin-top: 0;
}

.pagesecond-front-main-item-container {
    width: 100%;
}

.pagesecond-front-main-item-first,
.pagesecond-front-main-item-second {
    width: 100%;
    height: 105px;
    margin-right: 0;
    margin-bottom: 13px;
}

.pagesecond-front-main-item-third {
    width: 100%;
    margin-right: 0;
    margin-bottom: 13px;
    height: 85px;
}

.pagesecond-front-main-item-fourth {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    height: 100px;
}

.pagesecond-front-main-item-title {
    /*display: flex;*/
    flex-direction: row;
    width: 92%;
    height: 30px;
    margin-bottom: 8px;
    overflow: hidden;
}

.pagesecond-front-main-item-title-third{
    flex-direction: row;
    width: 92%;
    height: 30px;
    margin-bottom: 8px;
    overflow: hidden;
}

.pagesecond-front-main-item-title-fourth{
    flex-direction: row;
    width: 92%;
    height: 48px;
    margin-bottom: 8px;
    overflow: hidden;    
    margin-bottom: 4px;
}

/*.pagesecond-front-main-item-third>.pagesecond-front-main-item-title{
    height: 85px;
    margin-bottom: 4px;
}*/

.pagesecond-front-main-item-img {
   margin-right: 4%;
}

.pagesecond-front-main-item-title-cont>h3 {
    font-size: 20px;
    line-height: 27px;
    margin: 0;
    width: 300px;
}

.pagesecond-front-main-item-text,
.pagesecond-front-main-item-text-third,
.pagesecond-front-main-item-text-fourth {
    width: 92%;
    height: 40px;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
}

.pagesecond-front-main-item-text-third,
.pagesecond-front-main-item-text-fourth {
    height: 20px;
}

.pagesecond-front-main-law {
    width: 100%;
    margin-top: 40px;
    align-items: flex-start;
}

.pagesecond-front-main-law-title {
    width: 600px;
    max-width: 96%;
    margin: 20px 0 20px 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.pagesecond-front-main-law-item {
    width: 96%;
    margin-bottom: 20px;
    margin-left: 20px;
    justify-items: flex-start;
}

.pagesecond-front-main-law-item-img {
    width: 20px;
    height: 20px;
}

.pagesecond-front-main-law-item-text {
    width: 94%;
    font-size: 15px;
    line-height: 20px;
}

.pagesecond-helper {
    margin-top: 60px;
    width: 100%;
}

.pagesecond-helper-container {
    width: 61%;
}

.pagesecond-helper-container>h1 {
    font-size: 24px;
    line-height: 33px;
}

.pagesecond-helper-items {
    margin-top: 15px;
}

.pagesecond-helper-items-container {
    flex-direction: row;
}

.pagesecond-helper-items-item:nth-of-type(1) {
    width: 47%;
    margin-right: 6%;
}

.pagesecond-helper-items-item:nth-of-type(2) {
    width: 47%;
    margin-right: 0;
}

.pagesecond-helper-items-item-text {
    width: 92%;
   /* display: flex;
    flex-direction: column;*/
    justify-content: space-between;
}

.pagesecond-helper-items-item>img {
    height: 28px;
}

.pagesecond-helper-items-item-text>p {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 0 0;
}

.pagesecond-helper-line-first {
    width: 100%;
    height: 0px;
    border: 1px solid var(--c-line);
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagesecond-helper-line-second {
    width: 100%;
    height: 0px;
    border: 1px solid var(--c-line);
    margin-top: 15px;
    margin-bottom: 10px;
}

/*--------------------*/

.pagesecond-form {
    margin-top: 60px;
    width: 100%;
}

.pagesecond-front-form {
    width: 61%;
    align-items: flex-start;
}

.pagesecond-front-form-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin: 60px 0 0 0;
    width: 100%;
    color: var(--c-white);
}

.pagesecond-front-form-title-two {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
     margin: 10px 0 0 0;
}

.pagesecond-front-form-input {
    flex-direction: row;
    margin-top: 40px; 
    width: 100%;
    align-items: flex-start;
}

.pagesecond-front-form-input>input {
    width: 26.5%;
    height: 45px;
    margin-right: 1.7%;
    margin-bottom: 0;
}

.button {
    width: 13.9%;
    height: 45px;
    margin-left: 2.6%;
}

.pagesecond-front-form-person {
    width: 300px;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 60px;
}

textarea::placeholder, input::placeholder {
    font-family: var(--font-main);
    font-size: 15px;
    line-height: 20px;
    color: var(--c-grey);
}

/*--------------*/

.pagesecond-stages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--c-button);
}

.pagesecond-stages-container {
    width: 61%;
    display: flex;
    flex-direction: column;
}

.pagesecond-stages-container>h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: var(--c-white);
    width: 100%;
    margin: 60px 0 0 0;
}

.pagesecond-stages-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.pagesecond-stages-items-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.pagesecond-stages-items-item {
    margin: 0;
    width: 46.6%;
    display: flex;
    flex-direction: row;
}

.pagesecond-stages-items-item:nth-of-type(1) {
    margin-right: 6.8%;
}

.pagesecond-stages-items-item>img {
    margin-right: 4%;
    width: 45px;
    height: 45px;
}

.pagesecond-stages-items-item-text {
    margin: 0 0 0 0;
    width: 87.1%;
    font-size: 15px;
    line-height: 22px;
    color: var(--c-white);
}

/*----------------*/

.pagesecond-practice {
    width: 100%;
}

.pagesecond-practice-container {
    width: 61%;
    margin-top: 60px;
}

.pagesecond-practice-title-container {
    align-items: center;
}

.pagesecond-practice-title {
    font-size: 24px;
    line-height: 33px;
}

.pagesecond-practice-arrows {
    display: flex;
    flex-direction: row;
    width: 115px;
    justify-content: space-between;
}

.pagesecond-practice-arrows>img {
    width: 48px;
    height: 48px;
}

.pagesecond-practice-items {
    margin-top: 40px;
    width: 100%;
}

.pagesecond-practice-item-container {
    width: 14.5%;
    height: 200px;
     margin-right: 2.5%;
}

.pagesecond-practice-items-item {
    width: 100%;
    height: 255px;
}

.pagesecond-practice-items-item>img {
    width: 100%;
    height: 255px;
}


/*-------------*/

.pagesecond-others-container {
    margin-top: 28px;
    width: 100%;
    align-items: flex-start;
}

.pagesecond-others-container {
    width: 61%;
    flex-direction: row;
}

.pagesecond-others-container-first {
    width: 27.4%;
    margin-right: 2.6%;
}

.pagesecond-others-first-items {
    width: 100%;
}

.pagesecond-others-first-items-title {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.pagesecond-others-first-items-item {
    margin-top: 7px;
}

.pagesecond-others-first-items-item>span>a {
    font-size: 15px;
    line-height: 20px;
}

.pagesecond-others-container-second {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagesecond-others-second-title {
    width: 89%;
    font-size: 24px;
    line-height: 33px;
}

.pagesecond-others-second-title-two {
    width: 89%;
    font-size: 20px;
    line-height: 27px;
}

.button-two {
    height: 60px;
    margin-top: 0;
    margin-bottom: 40px;
}

.button-two>span {
    font-size: 15px;
    line-height: 20px;
}

/*-------------*/

.pagesecond-consultation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.pagesecond-consultation-container {
    width: 61%;
    align-items: flex-start;
    margin-bottom: 60px;
}

.pagesecond-consultation-container>h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    width: 470px;
    margin: 32px 0 0 24px;
}

.pagesecond-consultation-inputs {
    margin: 24px 0 0 24px;
    align-items: flex-start;
    width: 95.9%;
}

.pagesecond-consultation-inputs-main {
    width: 100%;
    height: 48px;
    border: none;
    border-bottom: 1px solid var(--c-line);
}

.pagesecond-consultation-inputs-main::placeholder {
    font-size: 15px;
    line-height: 20px;
}

.pagesecond-consultation-inputs-items {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.pagesecond-consultation-inputs-items-item {
    width: 31.9%;
    height: 48px; 
    margin-top: 24px;
}

.inputs-act {
    border-bottom: 2px solid var(--c-yellow);
}

.inputs-act::placeholder {
    color: #000000;
}

.pagesecond-consultation-person {
    width: 530px;
    font-size: 13px;
    line-height: 18px;
    margin: 24px 0 0 24px;
}

.button-three {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 150px;
    height: 44px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    align-self: center;
}


}