@media only screen and (min-width: 992px) {

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.home-front-selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .home-front-selects-items {
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--c-line);
    width: 33%;
    justify-content: space-around;
  }

  .home-front-selects-items:last-child {
    border-right: none;
  }

  .home-front-selects-items-img {
    width: 30px;
    height: 25px;
  }

  .home-front-selects-items-item {
    background-color: var(--c-lightGrey);
    border: 1px solid var(--c-lightGrey);
    font-weight: 600;
    font-size: 20px;
  }

  .home-front-selects-items-menu {
    position: absolute;
    top: 49px;
    right: 0px;
    background-color: var(--c-yellow);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
  }

  .home-front-selects-items-menu-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px 0;
  }
/*------------------*/

.pagetwelfth-container {
    padding: 60px 106px;
}

.pagetwelfth-container > img {
    width: 370px;
}

button {
    margin-top: 38px;
    padding: 12px 24px;
    font-size: 15px;
    line-height: 20px;
}