@media only screen and (min-width: 992px) {

.mobile {
    display: none;
}

.desktop {
    display: block;
}

 .home-front-selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .home-front-selects-items {
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--c-line);
    width: 33%;
    justify-content: space-around;
  }

  .home-front-selects-items:last-child {
    border-right: none;
  }

  .home-front-selects-items-img {
    width: 30px;
    height: 25px;
  }

  .home-front-selects-items-item {
    background-color: var(--c-lightGrey);
    border: 1px solid var(--c-lightGrey);
    font-weight: 600;
    font-size: 20px;
  }

  .home-front-selects-items-menu {
    position: absolute;
    top: 49px;
    right: 0px;
    background-color: var(--c-yellow);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
  }

  .home-front-selects-items-menu-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px 0;
  }
/*------------------*/

.pagefourth-front-foto {
    width: 100%;
}

.stages-width {
    width: 100%;
}

.pagefourth-front-foto-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-image: none;
}

.pagefourth-front-foto-maintext {
    width: 48.7%;
}

.pagefourth-front-foto-title {
    overflow: hidden;
}

.pagefourth-front-foto-title-h1 {
    font-size: 48px;
    line-height: 54px;
    margin: 60px 0 0 0;
}

.pagefourth-front-foto-title-span {
    font-size: 15px;
    line-height: 20px;
    margin-top: 20px;
}

.pagefourth-front-foto-stages {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.pagefourth-front-foto-stages-arrow {
    margin-right: 6.1%;
}

.pagefourth-front-foto-stages-items {
    width: 81.4%;
    box-sizing: border-box;
}

.pagefourth-front-foto-stages-items-text {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
}

.pagefourth-front-foto-stages-items-text:nth-of-type(2),
.pagefourth-front-foto-stages-items-text:nth-of-type(3) {
    margin-top: 21px;
}

.button {
    width: 200px;
    height: 60px;
    background: var(--c-yellow);
    margin-top: 58px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.pagefourth-front-foto-image {
    margin-top: 60px;
    width: 47.9%;
    max-width: 47.9%;
    height: 460px;
}

.pagefourth-front-foto-image-item {
    max-width: 100%;
}

.pagefourth-front-foto-image-text {
    top: 78.2%;          
    left: -5.3%;           
    width: 60.7%;  
    height: 17.4%;     
}

.pagefourth-front-foto-image-text>span {
    font-size: 20px;
    line-height: 27px;
}

/*--------------*/

.pagefourth-video-items {
    padding: 20px 24px;
}

.pagefourth-video-items-up-title {
    font-size: 24px;
    line-height: 33px;
}

.pagefourth-video-items-up-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagefourth-video-items-up-item{
    width: 48%;
    margin-top: 20px;
}

.pagefourth-video-items-up-item-img {
    width: 31px;
    margin-left: 0;
}

.pagefourth-video-items-up-item-img2 {
    width: 34px;
    margin-left: 0;
}

.pagefourth-video-items-up-item-text {
    font-size: 15px;
    line-height: 20px; 
    width: 89.6%;
    margin: 0 0 0 4.5%;
}

.pagefourth-video-items-down {
    margin-top: 40px;
}

.home-chances-items {
    margin: 16px 0 0 0;
}

.home-chances-items-item {
    display: flex;
    flex-direction: column;
    margin-right: 11px;
    padding: 12px 12px 16px;
    border-radius: 10px;
}

.home-chances-items-item-active {
     display: flex;
    flex-direction: column;
    margin-right: 11px;
    padding: 12px 12px 16px;
    border-radius: 10px;
}

.home-chances-span {
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}

.home-chances-p {
    font-size: 15px;
    line-height: 20px;
    width: 187px;
    height: 60px;
    overflow: hidden;
    margin: 12px 0 0 0;
}

.home-chances-img {
    width: 25px;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 9px;
    margin-bottom:  0;
}

}