.mobile {
    display: block;
}

.desktop {
    display: none;
}

.pageninth-front-title {
    margin: 45px 0 0 0;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
}

.pageninth-front-container {
    display: flex;
    flex-direction: column;
}

.pageninth-front-left {
    display: flex;
    flex-direction: column;
}

.pageninth-front-scanned {
    display: flex;
    flex-direction: column;
}

.pageninth-front-scanned-line {
    width: 100%;
    height: 0px;
    border: 1px solid var(--c-line);
    margin-top: 25px;
}

.pageninth-front-scanned-title {
    margin: 20px 0 0 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: var(--c-green);
}

.pageninth-front-scanned-text,
.pageninth-front-scanned-text3 {
    margin: 8px 0 0 0;
    font-size: 13px;
    line-height: 18px;
    color: var(--c-grey);
}

.pageninth-front-scanned-items-overflow {
    overflow: auto;
}

.pageninth-front-scanned-items {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
    width: max-content;
}

.pageninth-front-scanned-item,
.pageninth-front-scanned-item2,
.pageninth-front-scanned-item3 {
    width: 132px;
    height: 198px;
    margin-right: 8px;
    background-position: 0 0;
    background-size: cover;
}

.pageninth-front-scanned-item:nth-child(1) {
    background-image: url(../image/pageninth/case1.png);
}
.pageninth-front-scanned-item:nth-child(2) {
    background-image: url(../image/pageninth/case2.png);
}
.pageninth-front-scanned-item:nth-child(3) {
    background-image: url(../image/pageninth/case3.png);
}
.pageninth-front-scanned-item:nth-child(4) {
    background-image: url(../image/pageninth/case4.png);
}
.pageninth-front-scanned-item:nth-child(5) {
    background-image: url(../image/pageninth/case5.png);
}

.pageninth-front-scanned-item2:nth-child(1) {
    background-image: url(../image/pageninth/case21.png);
}
.pageninth-front-scanned-item2:nth-child(2) {
    background-image: url(../image/pageninth/case22.png);
}
.pageninth-front-scanned-item2:nth-child(3) {
    background-image: url(../image/pageninth/case23.png);
}

.pageninth-front-scanned-item3:nth-child(1) {
    background-image: url(../image/pageninth/case31.png);
}
.pageninth-front-scanned-item3:nth-child(2) {
    background-image: url(../image/pageninth/case32.png);
}
.pageninth-front-scanned-item3:nth-child(3) {
    background-image: url(../image/pageninth/case33.png);
}

.pagesecond-practice-circles {
    width: 65px;
    height: 10px;
    margin: 0 auto;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.practice-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--c-line);
    box-sizing: border-box;
}

.act {
    background-color: var(--c-yellow);
    border: none;
}

.pageninth-front-right {
    margin: 45px 0;
}

.pagesecond-front-main-items-container {
    overflow: auto;
}

.pagesecond-front-main-items {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.pagesecond-front-main-item {
    background: var(--c-yellow);
    box-shadow: 0px 8px 16px var(--c-shadow);
    border-radius: 8px;
    margin-right: 10px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
}

.pagesecond-front-main-item-title {
    display: flex;
    flex-direction: column;
}

.pagesecond-front-main-item-img {
    width: 28px;
    height: 28px;
}

.pagesecond-front-main-item-title-cont>h3,
.pagesecond-front-main-item-title-cont-first>h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top: 12px;
    margin-bottom: 0;
}

.pagesecond-front-main-item-text,
.pagesecond-front-main-item-text-fourth {
    width: 208px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 4px;
    color: var(--c-fontColor);
}